body{
    font-family: "Microsoft YaHei", Helvetica, Arial, Lucida Grande, Tahoma, sans-serif;
    background: url(../img/loginBg.jpg);
    width:100%;
    height:100%;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.login h1 a {
    background-size: 220px 50px;
    width: 220px;
    height: 50px;
    padding: 0;
    margin: 0 auto 1em;
}
.login form {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    border: 1px solid #fff;
}
.login label {
    color: #000;
    font-weight: bold;
}

#backtoblog a, #nav a {
    color: #fff !important;
}
        